@using LyricSense.Models
@model SongListViewModel

@{
    ViewBag.Title = "Все песни исполнителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="text-center">
        <p><h3>Все песни исполнителя</h3></p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Исполнитель</th>
                <th class="text-center">Песня</th>
                <th class="text-center">Альбом</th>
            </tr>
            @foreach (var item in @Model.Songs)
            {
                <tr>
                    <td class="text-center">@Html.ActionLink(@item.Artist, "Artist", new { item.Artist })</td>
                    <td class="text-center">@Html.ActionLink(@item.Song, "Lyrics", new { item.Id })</td>
                    <td class="text-center">@Html.ActionLink(@item.Album, "Album", new { item.Album })</td>     
                </tr>
            }
        </table>
    </div>
</div>